<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="mivia_rover_ros2_control" params="name prefix use_mock_hardware">

    <ros2_control name="${name}" type="system">

      <!-- Real (custom) hardware plugin -->
      <xacro:unless value="${use_mock_hardware}">
        <hardware>
          <plugin>mivia_rover_platform/MiviaRoverSystem</plugin>
          <!-- Note: parameters are declared here because they can't be passed from a yaml file when you are implementing a custom hardware plugin -->
          <!-- ROS topics used-->
          <param name="encoder_topic">/encoder_rpms</param>
          <param name="reference_topic">/reference_rpms</param>

          <!-- Safety / robustness -->
          <param name="feedback_timeout_ms">150</param>
          <param name="max_consecutive_timeouts">10</param>

          <!-- Command publish policy -->
          <param name="publish_rate_hz">50</param>
          <param name="rpm_limit_abs">180</param>

          <!-- Explicit mapping: msg fields -> joint names -->
          <!-- Convention in code: [front_left, rear_left, front_right, rear_right] -->
          <param name="joint_front_left">${prefix}wheel_fl_joint</param>
          <param name="joint_rear_left">${prefix}wheel_rl_joint</param>
          <param name="joint_front_right">${prefix}wheel_fr_joint</param>
          <param name="joint_rear_right">${prefix}wheel_rr_joint</param>

        </hardware>
      </xacro:unless>

      <!-- Mock hardware plugin (useful for fast validation) -->
      <xacro:if value="${use_mock_hardware}">
        <hardware>
          <plugin>mock_components/GenericSystem</plugin>
          <param name="calculate_dynamics">true</param>
        </hardware>
      </xacro:if>

      <!-- Wheel joints -->
      <joint name="${prefix}wheel_fl_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}wheel_fr_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}wheel_rl_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}wheel_rr_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

    </ros2_control>

  </xacro:macro>

</robot>